html{
    height : 100%;
}
body{
    position : relative;
    height : 100%;
}
h1{
    margin : 0;
    padding : 5px;
    text-align : center;
}
p{
    margin : 0;
    padding : 1px;
}
footer{
    text-align : center;
    background-color : #b1aeda;
}
div{
    margin : 5px;
    padding : 1px;
}
form{
    text-align : center;
}
.main{
    max-width : 980px;
    margin : 0 auto;
    top : 10px;
    min-height : 100%;
}
.head{
    align-items : center;
    text-align : center;
    margin : 5px;
    padding : 1px;
    background-color : #d68e99;
}
.description{
    margin : 0 auto;
    background-color : #f4f5f7;
}
.pip{
    display : inline;
}
.ipaddress{
    width : 100px;
    text-align : center;
}
table{
    margin : 0 auto;
    background-color : #f4f5f7;
    border-collapse : collapse;
}
table thead th{
    border : 1px solid #006;
    background : #9abade;
    text-align: center;
}
table th{
    border : 1px solid #006;
    background : #f4f5f7;
}
table td{
    border : 1px solid #006;
    background : #fff;
}
@media (min-width:760px){
    .content{
        max-width : 755px;
        margin-left : auto;
        margin-right : auto;
    }
}